/* holds the ul */
.navigationBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
/* Defines Li  */
.navigationList{
float: left;
}

.navigationText{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
  }
  .navigationText:hover{
    background-color: #333;
  }